<footer class="baymax p-0 line-height-4">
    <div class="container-fluid" style="
    line-height: 1.5;
    padding-top: 5rem;
    padding-bottom: 5rem;">
        <div class="container">
            <div class="row" style="display: flex;">
                <div class="col-sm-2 py2" style="min-width: 20%;">
                    <a class="navbar-brand" href="/" style="color:#4c4c4c">
                        <img src="~/Content/img/bati_logistics.png" alt="Batı Logistic" height="40"><strong class="ml-1">HELP CENTER</strong>
                    </a>
                </div>

                <div class="col-sm-2 py2" style="min-width: 20%;">
                    <a href="/" class="quiet link pointer mb1 inline-block">Home Page</a><br>
                </div>

                <div class="col-sm-2 py2" style="min-width: 20%;">
                    <a href="/Home/Categories" target="_blank" rel="noopener noreferrer" class="quiet link pointer mb1 inline-block">Categories</a><br>
                </div>

                <div class="col-sm-2 py2" style="min-width: 20%;">
                    <a href="/Home/Questions" class="quiet link pointer mb1 inline-block">All Questions</a><br>
                </div>
                <div class="col-sm-2 py2" style="min-width: 20%;">
                    <a href="/" class="quiet link pointer mb1 inline-block">Help Desk Pannel</a><br>
                </div>
                <div class="col-sm-2 py2" style="min-width: 20%;">
                    <div class="mb4">
                        <div class="quieter small mr1 inline-block">&copy; Batı Logistic  @DateTime.Now.Year</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>